{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg bg-dark mb-3" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="bi bi-pencil-fill"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% url 'list' as list %}
          <a class="nav-link 
            {% if request.path == list %}
             active  
            {% endif %} 
          " aria-current="page" href="{% url 'todo:list' %}">{% trans "Home" %}</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          {% url 'create' as create %}
          <a class="nav-link
          {% if request.path == create %}
            active
          {% endif %}
          " href="{% url 'todo:create' %}">{% trans "Todo create" %}</a>
        </li>
        <li class="nav-item">
          {% url 'logout' as logout %}
          <a class="nav-link 
            {% if request.path == logout %}
             active  
            {% endif %} 
          " aria-current="page" href="{% url 'logout' %}">Logout</a>
        </li>
        
        {% else %}
        <li class="nav-item">
          {% url 'login' as login %}
          <a class="nav-link 
            {% if request.path == login %}
             active  
            {% endif %} 
          " aria-current="page" href="{% url 'login' %}">{% trans "Login" %}</a>
        </li>
        <li class="nav-item">
          {% url 'registration' as registration %}
          <a class="nav-link 
              {% if request.path == registration %}
               active  
              {% endif %} 
            " aria-current="page" href="{% url 'registration' %}">{% trans "Registration" %}</a>
        </li>
        {% endif %}


      </ul>
      {% if request.user.is_authenticated %}
        <form class="d-flex" role="search" method="get">
          <input class="form-control me-2" name="q" type="search" placeholder="{% trans "Search" %}" value="{{ q }}" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">{% trans "Search" %}</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>