{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<h1>Welcome {{ request.user }}</h1>
{% if request.user.is_authenticated %}
{% for todo in todos %}
<div class="col-4 mb-3">
  <div class="card">
    <h5 class="card-header {% if todo.is_active %} bg-info {% else %} bg-danger {% endif %}">
      {% if todo.is_active %} <i class="bi bi-square"></i> {% else %} <i class="bi bi-x-square"></i> {% endif %}
    </h5>
    <div class="card-body">
      <h5 class="card-title">{{ todo.title|capfirst|truncatewords:'4' }}</h5>
      <p class="card-text">{{ todo.description|truncatewords:'4'|cut:" "|safe }}</p>
      <p class="card-text">{{ todo.price }}</p>
      <div class="d-flex justify-content-around">
        <a href="{% url 'todo:detail' id=todo.id %}" class="btn btn-primary"><i class=" bi bi-eye-fill me-2"></i>Show todo</a>
        <a href="{% url 'todo:delete' id=todo.id %}" class="btn btn-outline-dark ms-auto"><i class="bi bi-trash-fill"></i></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
  {% if todos.has_previous %}
    <li class="page-item {% if not todos.has_previous %}disabled{% endif %}">
        {% if todos.has_previous %}
            <a class="page-link" href="?q={{ q }}&page={{ todos.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        {% else %}
            <span class="page-link" aria-hidden="true">&laquo;</span>
      {% endif %}
    </li>
    {% endif %}
   {% for num in todos.paginator.page_range %}
      <li class="page-item {% if todos.number == num %}active{% endif %}">
        <a class="page-link" href="?q={{ q }}&page={{ num }}">{{ num }}</a>
      </li>
    {% endfor %}
  {% if todos.has_next %}
    <li class="page-item {% if not todos.has_next %}disabled{% endif %}">
      {% if todos.has_next %}
        <a class="page-link" href="?q={{ q }}&page={{ todos.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      {% else %}
        <span class="page-link" aria-hidden="true">&raquo;</span>
      {% endif %}
    </li>
  {% endif %}
  </ul>
</nav>
{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 400px; background: linear-gradient(135deg, #e0f7fa, #80deea); border-radius: 16px; margin: 2rem 0;">
  <div class="text-center">
    <h2 class="fw-bold text-dark">Добро пожаловать в ToDo App!</h2>
    <p class="text-secondary">Пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'registration' %}">зарегистрируйтесь</a>, чтобы управлять своими задачами.</p>
  </div>
</div>


{% endif %}

{% endblock %}